<div class="row">
  <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="<%= image_src(post) %>" alt="">
      </a>
  </div>
  <div class="col-md-8">
    <h3><%= social_media_button(post) %> @<%= post.social_media_account.username%></h3>
    <small class='text-info'><%= post.link %></small>
    <br><br>
    <p><%= post_content(post) %></p>    
    <p>
      <small>
        <%= t('views.posts.posted') %> <%= time_ago_in_words(post.post_date) %>
      </small>
    </p>
    <p>
      <small>
        <%= t('views.posts.lists') %> <%= post.lists %>
      </small>
    </p>
  </div>
</div>
<hr>
